.container {
  width: 30.75rem;
  height: 5.37rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  gap: 1rem;

  background-color: #ebebfc;

  border-radius: 0.75rem;
}

.tipIcon img {
  width: 2rem;
  height: 2rem;
}

.tip {
  color: #4f4fb9;
}

.tip :nth-child(1) {
  font-size: 1.25rem;
  font-weight: bold;
}

.tip :nth-child(2) {
  font-size: 1rem;
  font-weight: 400;

  display: flex;
  flex-wrap: wrap;
}
